* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(202, 202, 202);
}



.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

#main_page {
    margin: 20px auto;
    width: 60%;
}

.news-scroll {
    float: left;
    width: 68%;
    background-color: white;
}

.post .post-describtion, .post .post-title {
    padding: 30px 60px;
}

.post .post-title .avatar {
    display: block;
    float: left;
    height: 10%;
    width: 10%;
    border-radius: 50%;
}

.post .post-title .main-title {
    padding: 0px 100px;
}

.post .post-title .subtitle {
    margin: 10px 100px;
}

.post .post-title .subtitle .title-info {
    margin: 0px 20px 0px 0px;
    float: left;
    color: gray;
}

.icon {
    max-width: 15px;
    height: 15px;
}

.post .post-image {
    width: 100%;
}

#nav_scroll {
    width: 30%;
    float: right;
}

#nav_scroll #search {
    padding: 20px;
    
    background-color: white;
}

#nav_scroll #search input[type=search]{
    width: 65%;
    padding: 6px;
    font-size: 17px;
    color: white;
    background-color: gray;
    border: solid gray;
}

#nav_scroll #search input[type=search]::placeholder{
    color: white;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#nav_scroll .nav-section {
    margin: 20px 0;
    padding-bottom: 20px;
    background-color: white;
}

#nav_scroll .nav-section .title-categories {
    padding: 20px;
}

#nav_scroll .nav-section .categories {
    margin: 20px;
}

.underline {
    border-bottom: 2px solid rgba(116, 116, 116, 0.452);
}

#nav_scroll .nav-section .nav-post {
    margin: 20px;
}

#nav_scroll .nav-section .nav-post .nav-post-avatar {
    display: block;
    float: left;
    height: 20%;
    width: 20%;
    border-radius: 50%;
}

#nav_scroll .nav-section .nav-post .nav-post-info {
    float: left;
    padding: 4% 0 0 5%;
}

#nav_scroll .nav-section .nav-post .nav-title-date {
    color: gray;
    font-size: 12px;
}